<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.br.painel" platformBuildVersionCode="1" platformBuildVersionName="1">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/app_icon" android:name="com.br.painel.SketchApplication" android:allowBackup="true" android:usesCleartextTraffic="true">
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.MainActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:windowSoftInputMode="stateHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.PainelActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.PixfalsoActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.LarasActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.BotsccActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.TrcknfcActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.MatriznfActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.TelasfkActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.MetodosActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.VirarsaldoActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.RgfakeActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.GeaccActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.MatrixActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.Main1Activity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.NavegadoranoActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.AlboutActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.GunsActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.PosiboActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.ChatActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.UnderActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.IaaActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.PacksActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.EditaveActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.NotasvideosActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.PlrsActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.JogosActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.ApksActivity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:theme="@style/AppTheme.FullScreen" android:name="com.br.painel.Hu7Activity" android:screenOrientation="portrait" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden" android:hardwareAccelerated="true" android:supportsPictureInPicture="true"/>
        <activity android:name="com.br.painel.DebugActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.br.painel.firebaseinitprovider" android:initOrder="100"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>
